{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h4 class="my-3">Les dernières photos téléchargées</h4>

<div class="container d-flex justify-content-around flex-wrap flex-column">
    <img src="img/paris.jpg" alt="" class="photo align-self-baseline">

   
</div>
    
</div>
{% endblock %}
