{% extends 'base.html.twig' %}



{% block body %}
    <h1>CGV</h1>

    <p>orem ipsum dolor sit amet, consectetur adipiscing elit.
     Sed pulvinar ex quis purus condimentum consectetur. Suspendisse potenti. 
     Ut ac ligula enim. Integer sagittis nunc eu dolor mollis, id mollis nisi malesuada.
     Sed auctor, felis vel molestie viverra, augue sapien dapibus justo, ac tempus mi massa 
     a nulla. Nam et convallis magna, sit amet varius nisl. Suspendisse magna leo, molestie
      sed enim vel, malesuada eleifend nulla. Fusce id libero massa. Maecenas tincidunt
       lacus eu turpis pharetra, et blandit velit pellentesque. Suspendisse libero sem, 
       scelerisque ac ornare id, condimentum a nulla.</p>

{% endblock %}