{% extends 'base.html.twig' %}

{% block body %}

    {% for medium in media %}
        <a href = "{{medium.link}}">a remplacer par miniatures</a>
        <p>{{ medium.name }}</p>
        </br>
    {% endfor %}

{% endblock %}