@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  

    /*========== Colors ==========*/

    --main-bg: rgb(11, 20, 22);
    --alt-bg: rgb(5, 9, 10);
    --border-color: rgb(70, 13, 17);
    --alt-bg-transp: rgba(5, 9, 10, 0.2);

    --red: rgb(206, 39, 49);
    --orange: rgb(212, 103, 48);
    --green: rgb(101, 174, 156);

    --font-color: rgb(241, 238, 238);



}

/*==================== GLOBAL CSS CLASS ====================*/


label { 
    padding: 1rem;
 }

body { 
    background: var(--main-bg);
    color: var(--font-color);
    font-family: 'Playfair Display', serif;
    opacity: 0.9;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color:var(--font-color);
    transition: 500ms;
}

a:hover { 
    text-decoration: none;
    color: var(--green);
}

h1, h2, h3, h4, h5, h6, label { 
  font-variant-caps: all-petite-caps;
}

.titre { 
  font-variant-caps: none;
}

.title { 
    position: relative;
}

.title::before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 2px solid var(--green);
}

.sub-title {
    position: relative;
    color: var(--font-color);
}

.sub-title::after { 
    content: "";
    position: absolute;
    left: 2%;
    width: 12%;
    height: 1.5em;
    background: none;
    border-bottom: 1px solid var(--green);
    z-index: -1;

}

th, td {
    color: var(--font-color);
    border-color: var(--border-color);
}




/*==================== ACCUEIL CSS CLASS ====================*/

  .header { 
    color: var(--font-color);
  }
  
  .body { 
      position: relative;
      background: url('/img/header.jpg') no-repeat center center fixed; 
      background-size: cover;
      overflow: hidden;
  }

  .slogan { 
      width:70vh;
  }



/*==================== NAV CSS CLASS ====================*/


.logo { 
    width: 18vh;
    height: auto;
}

.navbar { 
    background: var(--alt-bg);

}

.nav-link { 
    color: var(--green);
    font-variant-caps: all-petite-caps;
    letter-spacing: 0.05rem;
    opacity: 0.8;
    transition: 600ms;

}

.nav-link:hover, .nav-link:focus { 
    color: var(--red);
}

.nav-user {
    color: var(--orange);
}

.nav-id {
    color: var(--font-color);
}

.btn { 
    background: var(--green);
    color: var(--font-color);
    opacity: 0.8;
    transition: 500ms;

}

.btn:hover { 
    opacity: 1;
    color: var(--font-color);
}


.dropdown-item { 
    background-color: var(--alt-bg);
    color: var(--green);
    border: 1px solid var(--main-bg);
    transition: 600ms; 
}

.dropdown-menu { 
    background-color: var(--alt-bg);
}

.dropdown-item:hover {
    background: var(--main-bg);
    color: var(--font-color);
}


/*==================== FORM CSS CLASS ====================*/

.card-login, .card-bo { 
    background: var(--alt-bg);
    width: 80vh;
    box-shadow: 8px 3px 15px -4px var(--alt-bg);
    border-bottom: 1px solid var(--orange)

}

.nav-search { 
    margin-top: 1px;
}

.search-size { 
    width: 20rem;
}

.search { 
    background-color: var(--main-bg);
    color: var(--font-color);
}

.alt-label { 
    background: var(--alt-bg);
}


.form-control { 
    border: var(--border-color);
    height: 2rem;
    transition: .15s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--main-bg) inset !important;
    box-shadow: 0 0 0 30px var(--main-bg) inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--font-color) !important;
}


 .form-control:active,
 .form-control:focus,
 .form-control:focus:active {
    background-color: var(--main-bg);
    color: var(--font-color);
    border: 2px solid var(--alt-bg);
    box-shadow: 0 0 0 15px var(--alt-bg-transp);
 }

 .form-custom:active,
 .form-custom:focus,
 .form-custom:focus:active {
    background-color: var(--alt-bg);
    color: var(--font-color);
    border: none;
    box-shadow: 0 0 0 15px var(--alt-bg);
 }

.accent { 
    position: relative;
    color: var(--red);
}

.accent:before { 
    content: '';
    position: absolute; 
    bottom: 0; 
    background: var(--green);
    width: 100%;
    height: 1px;
}


input[type="file"]::-webkit-file-upload-button {
    background-color: var(--green);
    border-radius: 5px;
    transition: 500ms;

 }


/*==================== SIDEBAR CSS CLASS ====================*/

.sidebar { 
    position: relative;
    width: 250px;
    height: 100%;
    border-right: 1px solid var(--alt-bg);
}

.side-btn { 
    position: relative;
    color: var(--green);
    transition: 500ms;
}

.side-btn:hover { 
    color: var(--red);
}


.side-link {
    padding-left: 1rem;
    letter-spacing: 1.1px;
}

.side-link:first-child { 
    color: var(--green);
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    opacity: 0.8;
    transition: 600ms;
}

.link { 
    display:block;
    width: 100%;
    text-decoration: none; 
    color: var(--font-color);
    padding: 0 0.5rem;
    transition: 500ms; 
    padding: 1em;
}

.side-link:hover {
    color: var(--green);
    padding: 0.5em;
}


.btn-toggle { 
    position: relative;
}

.btn-toggle:before { 
    content: 'ã€‰'; 
    color: var(--green);
    position: absolute; 
    left: 0;
    transition: 500ms;
}

.btn-toggle:before:hover {
    color: var(--red);
}


/*==================== CARD EXPLORER CSS CLASS ====================*/

.card-custom { 
    position: relative;
    transition:0.5s;
    cursor:pointer;
    background: var(--alt-bg);
    box-shadow: 1px 1px 20px 1px var(--alt-bg);
    
}

.card-custom:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px var(--main-bg);
  }
  
.card-custom::before, .card-custom::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: var(--alt-bg-transp);
    content: '';
    pointer-events: none;
  }
.card-custom::before {
    transform-origin: left top;
  }
.card-custom::after {
    transform-origin: right bottom;
  }
.card-custom:hover::before, .card-custom:hover::after, .card-custom:focus::before, .card-custom:focus::after {
    transform: scale3d(1, 1, 1);
  }

.img-custom {
    height:150px;
    width:100%;
    object-fit: cover;
    opacity: 0.8;
    transition: 500ms;
}

.img-detail {
    max-height:100vh;
    width:100%;
    object-fit: contain;
    border-radius: 15px;
}

.logo-card { 
    color: var(--red);
    padding: 0.2em;    
    margin-right: 0.3rem;
    transition: 500ms;
}

.logo-card:hover { 
    color: var(--green);
}

.option { 
    position: absolute; 
    right: 0; 
    bottom: 0;
}

.card-title:before {
    content:'';
    position: absolute; 
    bottom: 0;
    left:0; 
    background: var(--border-color);
    width: 100%;
    height: 1px;

}

.row {
    margin-right: 0;
}

.video-custom { 
    width: 350px;
    height: 250px;
}

/*==================== MODAL CARD EXPLO CSS CLASS ====================*/

.modal-content { 
    background-color: var(--alt-bg) !important; 
 }

 .modal-header { 
     border-bottom: 1px solid var(--green);
 }

 .modal-footer {
     border-top: 1px solid var(--green);
 }

 .img-modal { 
    display: block;
    margin-left: auto;
    margin-right: auto;

 }

 /*==================== FILTRES EXPLO CSS CLASS ====================*/

.filtres {    
    width: 80%;
    background: var(--alt-bg);
    text-align: right;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}


input[type=checkbox] {
    appearance: none;
	width: 14px;
	height: 14px;
	border: 3px solid var(--green);
	border-radius: 1%;
	background-clip: content-box;
	padding: 1px;
}

input[type="checkbox"]:checked, input[type="checkbox"]:checked:before {
    background: var(--font-color);
  }

input[type="radio"] {
    appearance: none;
	width: 14px;
	height: 14px;
	border: 2px solid var(--green);
	border-radius: 50%;
	background-clip: content-box;
	padding: 1px;
}

input[type="radio"]:checked {
	background-color: var(--green);
}

/*==================== BO CSS CLASS ====================*/

.btn-del {
    background: var(--red);
}

.btn-new {
    background: var(--orange);
}

.img-bo { 
    height:150px;
    width:100%;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 10px;
    
}

.card-bo { 
    width: 100%;
}


/*==================== FOOTER CSS CLASS ====================*/

.copyright { 
    color: var(--green);
    font-variant-caps: all-petite-caps;
}

footer {
    background: var(--alt-bg);
    width: 100%;
    height: 15vh;
}

.border-color {
    border-top: 1px solid var(--border-color);

}

/*==================== SCROLLBAR CSS CLASS ====================*/

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--main-bg); /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--green); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid var(--alt-bg); /* creates padding around scroll thumb */
  }
    

