@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  

    /*========== Colors ==========*/

    --main-bg: rgb(11, 20, 22);
    --alt-bg: rgb(5, 9, 10);
    --border-color: rgb(70, 13, 17);

    --red: rgb(206, 39, 49);
    --orange: rgb(212, 103, 48);
    --green: rgb(101, 174, 156);

    --font-color: rgb(241, 238, 238);



}

/*==================== GLOBAL CSS CLASS ====================*/


label { 
    padding: 1rem;
 }

body { 
    background: var(--main-bg);
    color: var(--font-color);
    font-family: 'Playfair Display', serif;
    opacity: 0.9;
}

a{
    text-decoration: none;
    color:var(--font-color)
}

h1, h2, h3, h4, h5, h6, label { 
  font-variant-caps: all-petite-caps;
}

.titre { 
  font-variant-caps: none;
}

.title { 
    position: relative;
}

.title::before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 2px solid var(--green);
}

.subtitle {
    color: var(--red);
}

th, td {
    color: var(--font-color);
    border-color: var(--border-color);
}




/*==================== ACCUEIL CSS CLASS ====================*/

  .header { 
    color: var(--font-color);
  }
  
  .body { 
      position: relative;
      background: url('/img/header.jpg') no-repeat center center fixed; 
      background-size: cover;
  }

  .slogan { 
      width:70vh;
  }



/*==================== NAV CSS CLASS ====================*/


.logo { 
    width: 18vh;
    height: auto;
}

.navbar { 
    background: var(--alt-bg);

}

.nav-link { 
    color: var(--green);
    font-variant-caps: all-petite-caps;
    letter-spacing: 0.05rem;
    opacity: 0.8;
    transition: 600ms;

}

.nav-link:hover, .nav-link:focus { 
    color: var(--red);
}

.nav-user {
    color: var(--orange);
}

.nav-id {
    color: var(--font-color);
}

.btn { 
    background: var(--green);
    color: var(--font-color);
    opacity: 0.8;
    transition: 500ms;

}

.btn:hover { 
    opacity: 1;
    color: var(--font-color);
}


.dropdown-item { 
    background-color: var(--alt-bg);
    color: var(--green);
    border: 1px solid var(--main-bg);
    transition: 600ms; 
}

.dropdown-menu { 
    background-color: var(--alt-bg);
}

.dropdown-item:hover {
    background: var(--main-bg);
    color: var(--font-color);
}


/*==================== FORM CSS CLASS ====================*/

.card-login { 
    background: var(--alt-bg);
    width: 80vh;
    box-shadow: 8px 3px 15px -4px var(--alt-bg);
    border-bottom: 1px solid var(--orange)

}

.search { 
    background-color: var(--main-bg);
    color: var(--font-color);
}


.form-control { 
    border: var(--border-color);
    height: 2rem;
    transition: .15s;
}

.form-control:focus { 
    background-color: var(--main-bg);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--main-bg) inset !important;
    box-shadow: 0 0 0 30px var(--main-bg) inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--red) !important;
}

/*==================== SIDEBAR CSS CLASS ====================*/

.sidebar { 
    position: relative;
    width: 280px;
}


.filtres { 
    background: var(--alt-bg);
}

.side-btn { 
    position: relative;
    background: transparent;
    border: none; 
    color: var(--green);
    transition: 500ms;
}

.side-btn:hover { 
    color: var(--red);
}

.side-btn::after { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 250px;
    height: 0.5em;
    border-top: 2px solid var(--red);
}

.link { 
    display:block;
    text-decoration: none; 
    color: var(--font-color);
    padding: 0 1.2rem;
    transition: 500ms; 
}

.link:hover {
    background-color: var(--alt-bg);
    border-right: 1px solid var(--orange);
    color: var(--font-color);
}

.sub-link { 
    margin-left: 2em;
}

.btn-toggle { 
    position: relative;
}

.btn-toggle:before { 
    content: '〉'; 
    position: absolute; 
    left: 0;
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;

}


.btn-toggle:hover:before {
    cursor: pointer;
    transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 0.3rem;
}



/*==================== FOOTER CSS CLASS ====================*/

.copyright { 
    color: var(--orange);
    font-variant-caps: all-petite-caps;
}

footer {
    background: var(--alt-bg);
    width: 100%;
    height: fit-content;
}

.border-color {
    border-top: 1px solid var(--border-color);

}

    

