<form method="post" action="{{ path('editor_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir suprimmer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-del">Supprimer l'utilisateur</button>
</form>
