{% extends 'base.html.twig' %}

{% block title %}Index de l'utilisateur{% endblock %}

{% block body %}
    <h1>Index de l'utilisateur</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ouser in user %}
            <tr>
                <td>{{ ouser.id }}</td>
                <td>{{ ouser.name }}</td>
                <td>
                    <a href="{{ path('editor_user_show', {'id': ouser.id}) }}">Afficher</a>
                    <a href="{{ path('editor_user_edit', {'id': ouser.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun documents trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
