<form method="post" action="{{ path('edit_media_delete', {'id': medium.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir suprimmer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medium.id) }}">
    <button class="btn btn-del">Supprimer le média</button>
</form>
