{% extends 'base.html.twig' %}

{% block title %}New Media{% endblock %}

{% block body %}
    <h1>Créer un nouveau média</h1>

    {{ include('edit/edit_media/_form.html.twig') }}

    <a href="{{ path('edit_media_index') }}">Retour à la liste</a>
{% endblock %}
