{% extends 'base.html.twig' %}

{% block title %}New Media{% endblock %}

{% block body %}
    <h1>Create new Media</h1>

    {{ include('edit/edit_media/_form.html.twig') }}

    <a href="{{ path('edit_media_index') }}">Back to list</a>
{% endblock %}
