<form method="post" action="{{ path('editor_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir suprimmer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-del">Supprimer la catégorie</button>
</form>
