{% extends 'base.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('edit/editor_category/_form.html.twig') }}

    <a href="{{ path('editor_category_index') }}">Retour à la liste</a>
{% endblock %}
