{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}

<div class="container py-3  d-flex justify-content-center">
    <div class="card card-login m-5">
      <div class="card-body p-5 m-3">

          <div class="md-5 mt-md-4 pb-3">

              <h2 class="fw-bold mb-2 title">Nouvelle catégorie</h2>

          </div>

          <p class="mb-5">

                {{ include('edit/editor_category/_form.html.twig') }}

                <div class="d-flex justify-content-center m-3">

                    <a href="{{ path('editor_category_index') }}" class="btn mb-3">Retour à la liste des catégories</a>

                </div>

            </div>

            </p>

            </div>
<<<<<<< HEAD
        </div>
    </div>
=======
            </div>
            </div>
>>>>>>> c585d68b86dc3a7a91b50953703945f3191c3c36
{% endblock %}
