{{form_start(formSearchNav)}}
    <div class="row g-2 nav-search">
        <div class="col">
            {{ form_widget(formSearchNav.name, {'attr': {'class': 'form-control search search-size'}}) }}
        </div>
        <div class="col">
            <button type="submit" class="btn btn-sm"><i class="bi bi-search"></i></button>
        </div>
        
    </div>
{{form_end(formSearchNav)}}