{{form_start(formSearchNav)}}
    <div class="row g-2">
        <div class="col">
            {{ form_widget(formSearchNav.name, {'attr': {'class': 'form-control search'}}) }}
        </div>
        <div class="col">
            <button type="submit" class="btn">Rechercher</button>
        </div>
        
    </div>
{{form_end(formSearchNav)}}