<div class="flex-shrink-0 p-3 sidebar">
    
    <a href="/" class="d-flex align-items-center pb-3 mb-3 text-decoration-none">

      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1 side-nav">
        <button class="btn-toggle align-items-center collapsed side-btn nav-link fs-4" data-bs-toggle="collapse" data-bs-target="#france-collapse" aria-expanded="true">
          France
        </button>
        <div class="collapse show" id="france-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link fs-6 btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#paris-collapse" aria-expanded="true"> <i class="bi bi-caret-right crossRotate"></i> Paris</a></li>

                <div class="collapse show" id="paris-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li><a href="#" class="link fs-6 collapsed sub-link">Versailles</a></li>
                  </ul>
                </div>


            <li><a href="#" class="link fs-6">Updates</a></li>
            <li><a href="#" class="link fs-6">Reports</a></li>
          </ul>
        </div>
      </li>

      <li class="mb-1">
        <button class="btn-toggle align-items-center collapsed side-btn nav-link fs-4" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Dashboard
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link fs-6">Overview</a></li>
            <li><a href="#" class="link fs-6">Weekly</a></li>
            <li><a href="#" class="link fs-6">Monthly</a></li>
            <li><a href="#" class="link fs-6">Annually</a></li>
          </ul>
        </div>
      </li>

      <li class="mb-1">
        <button class="btn-toggle align-items-center collapsed side-btn nav-link fs-4" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Orders
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link fs-6">New</a></li>
            <li><a href="#" class="link fs-6">Processed</a></li>
            <li><a href="#" class="link fs-6">Shipped</a></li>
            <li><a href="#" class="link fs-6">Returned</a></li>
          </ul>
        </div>
      </li>

      <li class="mb-1">
        <button class="btn-toggle align-items-center collapsed side-btn nav-link fs-4" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link fs-6">New...</a></li>
            <li><a href="#" class="link fs-6">Profile</a></li>
            <li><a href="#" class="link fs-6">Settings</a></li>
            <li><a href="#" class="link fs-6">Sign out</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>