<div class="flex-shrink-0 p-3 sidebar">
    
    <a href="/" class="d-flex align-items-center pb-3 mb-3 text-decoration-none">

      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1 side-nav">
          {% include "inc/_category.html.twig" with {'categorys':categorys} only %}
      </li>
    </ul>
  </div>

