
 <footer class="d-flex justify-content-around align-items-center py-3 border-color">
    <p class="col-md-4 mb-0 copyright">&copy; 2022 Medflix, Inc</p>

  

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{{ path('contact')}}" class="nav-link px-2">Nous contacter</a></li>
      <li class="nav-item"><a href="{{ path('cgv')}}" class="nav-link px-2">CGV</a></li>
      <li class="nav-item"><a href="{{ path('ml')}}" class="nav-link px-2">Mentions légales</a></li>
    </ul>
  </footer>

